/*body{
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
    gap: 10px;
}

.flex > div{
    background-color: #ccc;
    padding: 20px;
}

/* Media Queries -tablet
@media (max-width: 1024px){
    .flex{
        flex-wrap: wrap;
    }

    .flex > div{
        width: calc(50% - 45px);
    }
}

@media (max-width: 768px){
    .flex > div{
        width: 100%;
    }
}
*/
/*
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
    background-color: blue;
    width: 500px;
    height: 500px;
    transition: all .5s ease-in-out;
}

.square.active {
    display: block;
    color: black;
    border: 1px solid red;
    background-color: orange;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 720px) {
    .square {
        display: none;
    }
}

 */